html,
body {
  height: 100%;
  width: 100%;
  border-radius: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Tiny5";
  src: url("/fonts/Tiny5/Tiny5-Regular.ttf");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf");
}

h1 {
  font-family: "Tiny5", monospace;
  font-size: 2.8rem;
}

h2 {
  font-family: "Tiny5", monospace;
  font-size: 2.4rem;
}

body {
  background-color: black;
  border-radius: 0;
  position: relative;
  overflow: 0;
  font-family: "Source Code Pro", monospace;
  font-size: 1.6rem;
}

#window-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1.6rem;
  display: flex;
  opacity: 0;
  flex-direction: row;
  align-items: center;
  app-region: drag;
  color: #f8eec0;
  gap: 1rem;
  background-color: #35553d;
  z-index: 2;
  transition: opacity ease 0.25s;
}

body:not(.fullscreen):hover #window-header {
  opacity: 1;
}

body.fullscreen #window-header:hover {
  opacity: 1;
}

button:focus-visible {
  outline: 2px solid #f8eec0;
}

#window-header button {
  app-region: no-drag;
  color: #f8eec0;
  background: none;
  border: none;
  width: 24px;
  height: 24px;
}

#window-header button:hover {
  opacity: 0.75;
}

#window-header section:last-of-type {
  margin-left: auto;
}

button {
  cursor: pointer;
}

body.fullscreen .titlebar {
  display: none;
}

body.fullscreen main {
  padding-top: 0;
}

.hidden {
  display: none;
}

#dialog-error div {
  width: fit-content;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  color: #f8eec0;

  background-color: #6a7a35;
  border-color: #202e2c;
}

#dialog-error header {
  background-color: #35553d;
  padding: 0.5rem 1.6rem;
  border-bottom: 2px solid #202e2c;
}

#dialog-error main {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

#dialog-error footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.icon {
  width: 24px;
  height: 24px;
}

#btn-reload {
  border: none;
  background: none;
  color: #f8eec0;
  border: 2px solid #202e2c;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: color ease 0.2s;
}

#btn-reload:hover {
  color: #f8eec0cc;
}
