html,
body {
  height: 100%;
  width: 100%;
  border-radius: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Tiny5", monospace;
  font-size: 2.4rem;
}

body {
  background-color: black;
  border-radius: 0;
  position: relative;
  overflow: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  app-region: drag;
  color: #ececec;
  background-color: #212121;
  z-index: 2f;
}

header button {
  app-region: no-drag;
  color: #ececec;
  font-size: 24px;
  background: none;
  border: none;
  width: 32px;
  height: 32px;
}

header button:hover {
  opacity: 0.75;
}

button {
  cursor: pointer;
}

header button svg {
  width: 24px;
  height: 24px;
}

body.fullscreen .titlebar {
  display: none;
}

body.fullscreen main {
  padding-top: 0;
}

.hidden {
  display: none;
}


